* {
    box-sizing: border-box;
}
.row {
    display: flex;
}
body {
    margin: 0;
}
img {
    display: block;
}
.container {
    font-family: Ubuntu;
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F5F5;
    /* border: 1px solid black; */
    padding: 20px 10px;
    border-radius: 20px;
}
.hero {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    background-color:#C8E6C9;
    border-radius: 20px;
    flex: 1;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
ul li img {
    margin-left: auto;
    margin-right: auto;
}
ul li img:last-of-type:hover {
    cursor: pointer;
}

#factsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#first, #second, #third {

}